<div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Create Account</h4>
        <form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <fa-icon [icon]="faUser"></fa-icon> </span>
             </div>
            <input name="username" [(ngModel)]="model.username" class="form-control" placeholder="Username" type="text">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <fa-icon [icon]="faIdCard"></fa-icon> </span>
             </div>
            <input name="displayname" [(ngModel)]="model.displayname" class="form-control" placeholder="Display Name" type="text">
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <fa-icon [icon]="faLock"></fa-icon> </span>
            </div>
            <input name="password" [(ngModel)]="model.password" class="form-control" placeholder="Create password" type="password">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <fa-icon [icon]="faLock"></fa-icon> </span>
            </div>
            <input class="form-control" placeholder="Repeat password" type="password">
        </div> <!-- form-group// -->                                      
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
        </div> <!-- form-group// -->      
        <p class="text-center">Have an account? <a routerLink="/users/login">Log In</a> </p>                                                                 
    </form>
    </article>
    </div>