<nav class="navbar navbar-light bg-light fixed-top justify-content-between">
    <div class="container">
        <a routerLink="/" class="navbar-brand">GenericForum</a>

        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <div class="dropdown" *ngIf="(currentUser$ | async) as user" dropdown>
            <a class="dropdown-toggle text-dark" dropdownToggle>Welcome {{ user.displayName }}</a>
            <div class="dropdown-menu" *dropdownMenu>
                <a href="#" class="dropdown-item">Profile</a>
                <a class="dropdown-item" (click)="logout()">Log Out</a>
            </div>
        </div>

        <div *ngIf="!(currentUser$ | async)">
            <button class="btn btn-primary my-2 my-sm-0 mr-2" routerLink="/users/login">Login</button>
            <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/register">Register</button>
        </div>

        <!--<form #loginForm="ngForm" class="form-inline" (ngSubmit)="login()" autocomplete="off" *ngIf="!(currentUser$ | async)">
            <input name="username" [(ngModel)]="model.username" class="form-control mr-sm-2" type="text" placeholder="Username" aria-label="Username">
            <input name="password" [(ngModel)]="model.password" class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Password">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
        </form>-->
    </div>  
</nav>