<div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Login</h4>
        <form #registerForm="ngForm" (ngSubmit)="login()" autocomplete="off">
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <fa-icon [icon]="faUser"></fa-icon> </span>
             </div>
            <input name="username" [(ngModel)]="model.username" class="form-control" placeholder="Username" type="text">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <fa-icon [icon]="faLock"></fa-icon> </span>
            </div>
            <input name="password" [(ngModel)]="model.password" class="form-control" placeholder="Password" type="password">
        </div> <!-- form-group// -->                                      
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Login  </button>
        </div> <!-- form-group// -->                                                                 
    </form>
    </article>
    </div>